# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
*.log


*.sublime-project
*.sublime-workspace


*.bak
*.sql
*.sqlite
*.zip


Thumbs.db
desktop.ini


bootstrap/cache/*.php
